body {
    font-family: Arial, sans-serif;
    background-color: #f8770e;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.frame {
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.frame:hover {
    transform: scale(1.05);
}

.frame h2 {
    font-size: 18px;
    color: #333;
}
/*
.discord {
    // Personnalisez le cadre Discord si nécessaire
}
*/
.youtube {
    background-color: #f8770e;
    color: #000000;
}

.banner {
    padding: 10px;
    border-radius: 5px;
    background-color: #f8770e;
}

.banner-text {
    font-size: 20px;
    margin: 0;
}

.subscribers-count {
    font-size: 16px;
    color: #f8770e;
}

.coming-soon {
    background-color: #f8770e;
}

.coming-soon h2 {
    font-size: 24px;
    color: #333;
}
